

body{
    margin: 0;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    height: 150px;
    margin-left: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin: 50px;
    padding: 5px;
}

nav a:hover{
    background-color: #fe5f55;
    color: black;
}

header{
    background-color: #131342;
    display: grid;
    grid-template-columns: 150px auto;
    
}

main{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:  50% 50%;
    text-align: center;
    background-color: #bebdbd;
}

video{
    padding: 20px;
}

.vidsec1{
    grid-column: 1;
    grid-row: 1;
    margin-block: 25px;
    
}

.vidsec2{
    grid-column: 2;
    grid-row: 1;
    margin-block: 25px;
    
}

.vidsec3{
    grid-column: 3;
    grid-row: 1;
    margin-block: 25px;
    
}

.vidsec4{
    grid-column: 4;
    grid-row: 1;
    margin-block: 25px;
    
}

footer{
    background-color: rgb(87, 142, 191);
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-align: center;
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}