h1 {
    font: 2em sans-serif;
}

p {
    font-size: 3em; 
    background-color: blue; 
    text-align: center;
}
img {
    width: 350px;
    float: right;
    border: 2px blueviolet;

}

.stars {
    

}
